:root{
    --primary-text-color: #757575;
    --accent-color: #2196F3;
    --white: #ffffff;
    --black: #000000;
    --background: #2F303A;
    --title: #212121;
    --button: #F5F4FA;
}



.list{
    list-style: none;
}

/* колір основного тексту #212121 */
/* другорядний колір тексту #757575*/
/* акцент #2196F3 */
/* #FFFFFF білий */
/* #2F303A другорядний */
/*  */

body{
    color: var(--primary-text-color);
    background-color: var(--white);
}
/* header */
.logo{
    color: var(--black);
}

.logo-span{
    color: var(--accent-color);
}

.site-nav .link{
    color: var(--title);
}

.site-nav .link:hover,
.site-nav .link:focus{
    color: var(--accent-color);
}

.site-nav .link.current{
    color: var(--accent-color);
}

.contacts .meltel{
    color: var(--primary-text-color);
}

.contacts .meltel:hover,
.contacts .meltel:focus{
    color: var(--accent-color);
}
/* main */
.hero{
    background-color: var(--background);
}

.hero-title{
    color: var(--white);
}

.button{
    color: var(--title);
    background-color: var(--button);
}

.button:hover,
.button:focus{
    color: var(--white);
    background-color: var(--accent-color);
}

.section{

}

.section-team{
    background-color: var(--button);
}

.section-titlef{
    display: none;
}

.section-title{
    color: var(--title);
}

.section-t{
    color: var(--title);
}




















/* footer */
.footer{
    background: var(--background);
}

.address-link{
    color: var(--white);
}

.address-link:hover,
.address-link:focus{
    color: var(--accent-color);
}

.address-mt{
    color: var(--primary-text-color)
}

.address-mt:hover,
.address-mt:focus{
    color: var(--accent-color);
}